<div class="album py-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


    <ng-template ngFor let-produto [ngForOf]="produtos">
      <ng-template [ngIf]="idTipoProdutoSelecionado == undefined || idTipoProdutoSelecionado == produto.tipo_produto">

        <div class="col">
          <div class="card">
            <img class="bd-placeholder-img card-img-top" style="background-color: #55595c;" width="100%" height="225" src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{produto.descricao}}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </ng-template>



  </div>
</div>
