<div id="div-login" class="d-flex align-items-center py-4 bg-body-tertiary">

  <div class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Efetue o login</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" [(ngModel)]="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Password" [(ngModel)]="senha">
        <label for="floatingPassword">Password</label>
      </div>

      <input type="button" class="btn btn-primary w-100 py-2" value="Login" (click)="logar()">

      <div class="text-center mt-4">
        <p>Não possui cadastro? <a href="#!">Cadastrar</a></p>
      </div>
    </form>
  </div>

</div>
