<div *ngIf="mensagemSucesso" class="alert alert-success" role="alert">
  {{mensagemSucesso}}
</div>
<form class="row g-3">
  <input type="hidden" name="id" id="id" value="{{tipoProduto.id}}" />
  <div class="col-md-8">
    <label for="descricao" class="form-label">Descrição</label>
    <input type="text" class="form-control" id="descricao" name="descricao" [(ngModel)]="tipoProduto.descricao">
  </div>
  <div class="col-md-4"></div>
  <div class="col-12">
    <ng-template [ngIf]="tipoProduto">
      <button type="button" class="btn btn-primary" (click)="editar()">Editar</button>
    </ng-template>
    <ng-template #elseBlock>
      <button type="button" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
    </ng-template>
  </div>
</form>
